
.layout_width { max-width: 1200px; min-width: 1000px; margin: auto; margin-top: 100px;


  }




.subContent { position: relative; float:left; padding-bottom: 1rem; width: calc(100% - 12rem); }


.titleArea { position:relative; margin-bottom: 3rem;}

.titleArea::after { position: absolute; bottom: 0;  width: 13rem; height: 2px; background: #f42e3d; content: ""; margin-left: 10px; }

.titleH2 { position: relative; padding: 0.95rem 0; width: calc(100% - 8rem); font-size: 1.8rem; color: #000; font-weight: bolder; margin-left: 20px;}


.titleArea { margin-bottom: 3rem; }


table{
    width: 100%;
    border-top: 2px solid #e6e6e6;
    border-bottom: 2px solid #e6e6e6;
}

.table_terms {
           border-spacing: 0;
           background: #fff;
           font-size: 16px;
           line-height: 80px;
           margin-bottom: 30px
}

.table_terms .thead{
     width: 25%;
     background-color: #FFF1E9;
}

.table_terms th {
    border-bottom: 1px solid #e6e6e6;
}

.table_terms td {
    width: 55%;
    padding-left: 3%;
    border-bottom: 1px solid #e6e6e6;
}

input[type='text']{
    margin: 0px;
}

label{
    margin-right: 15px;
}

select{
margin-right: 10px;
}

.btn{
 width: 100px;
 height: 40px;
 background: red;
 border: red;
 font-weight: 540;
 color: white;
 margin: 20px;
 cursor: pointer;
}


/* --------------인포 윈도우-------------------- */
.infowindow{
    padding: 5px;
    width: 300px;
    height: auto;
    line-height: 17px;
}

.infowindow .center_name{
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
}



/* --------------검색 결과 목록-------------------- */

.layout_width h2{
    margin-top: 35px;
    margin-bottom: 15px;
}

.table_rows{
    font-size: 14px;
    text-align: center;
    line-height: 25px;
}

.table_rows thead th{
    background: rgb(250, 240, 230);
    font-weight: normal;
    font-size: 16px;
}




.year_month { text-align: center; margin-bottom: 15px; }
.year_month .current { font-weight: 700; font-size: 2rem; line-height: 1; }
.year_month a { display: inline-block; vertical-align: center; padding: 0 10px; font-size: 1.2rem; line-height: 1; }
.year_month a:hover { a:text-decoration: underline; }

.yoils { border: 1px solid #ccc; border-bottom: 1px solid #222; font-size: 2rem; font-weight: 500; display: flex; width: 100%; }
.yoils > li { width: 0; flex-grow: 1; padding: 10px; text-align: center; }
.yoils li + li { border-left: 1px solid #ccc; }
.days { border: 1px solid #ccc; border-top: 0; display: flex; width: 100%; flex-wrap: wrap; flex-grow: 1;  }
.days li { width: calc(100% / 7); font-size: 0.8rem;  height: 100px; }
.days li + li { border-left: 1px solid #ccc; border-top: 1px solid #ccc;}
.days li:nth-of-type(7n+1) { color: red; }
.days li:nth-of-type(7n) { color: blue; }

.days input[type='radio'] { display: none; }
.days input[type='radio']+label { display: block; text-align: center; font-size: 2rem; font-weight: 500; cursor: pointer; line-height: 98px; }
.days input[type='radio']:checked+label { background: #222; color: #fff; }



/*--------------------------------------------*/
/*---------------step box---------------------------*/
.step_box { position: relative; width: 800px; margin-bottom: 2.5rem; height: 50px; }

.step_box ul { display: table; table-layout: fixed; width: 100%; background:#f5f3f3; border: 5px solid#f5f3f3; border-radius: 3rem; padding: 0.5rem 0.7rem; font-size: 12px; }

/*가운데 정렬*/
.step_box li { position: relative; display: table-cell; text-align: center; padding-left: 10px;  }





/*흰색박스 크기*/
.step_box li p { display: block; position: relative; min-height: 4.6rem; display: flex; flex-direction: column; justify-content: center; padding: 0.5rem 0; }

.step_box .icon{
    font-size: 40px;
    margin-left: 30px;
    position: absolute; top: 30%;
}

.step_box li span { color: #222; font-size: 1rem; font-weight: 700; line-height:1.2rem; }

.step_box li span em { color: #f42e3d;   }


/*흰색박스 크기*/
/* 헌혈예약 : on */
.step_box li.on p { width: 140px; background: #fff; border-radius: 2rem; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }



/* ----------헌혈예약 > 안내 -------------------- */
.title1-container{
    margin-top: 65px;
    height: auto;
    border-radius: 2rem;
    background: #fff;
    border: 2px solid #ced4da;
    padding: 30px;

}

.tit1 {
    font-size:20px;
    line-height:1.6;
    color:#111;  }

.box_st3 { padding: 0.5rem; }

.title2-container{
    margin-top: 50px;
    width: 50%;
    height: 200px;
    border-radius: 2rem;
    background:#f5f3f3;
    padding: 24px;
    margin-bottom: 100px;
}


.tit3{
    margin-top: 120px;
    padding-left:32px;
    font-size:20px;
    line-height:1.6;
}

.indent{
    margin-left: 30px;
    margin-top: 15px;
    font-size: 14px;
    line-height: 21px;
}

.sub{
    font-weight: bolder;
    font-size: 15px;
    line-height: 30px;
}

.indent > li {
    font-size: 14px;
    color: #444;
    margin-left: 29px;
    margin-top: 15px;
    list-style: circle;
}



.icon{
    color: red;
}

.con{
    margin-left: 1%;
    line-height: 25px;
}

.reservation{
    background-color: red;
    margin-top: 25px;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.2em;
    color: white;
    float: right;
}